.main-container {
	margin: 0 auto;
	max-width: 1440px;
	padding-top: 2em;
	padding-bottom: 2em;
}

.content {
	margin: 0 100px;
}

.theme-color-red {
	color: $primaryColor;
}

.card-border-radius {
	border-radius: 0.4rem;
}

.btn-shadow {
	box-shadow: 4rpx 8rpx 12rpx #ccc;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.overflow-hide {
	overflow: hidden;
}

.surplus {
	color: black;
}

.surplus-border {
	border-bottom: 1px solid black;
}

.none-border {
	border: none !important;
}

.orange {
	color: orange;
}

.blue {
	color: blue;
}

.col999 {
	color: #999;
}

.text-grey {
	color: $secondaryText;
}

.fs12 {
	font-size: 12px;
}

.fs14 {
	font-size: 14px;
}

.fs16 {
	font-size: 16px;
}

.fs18 {
	font-size: 18px;
}

.fs20 {
	font-size: 20px;
}

.fs21 {
	font-size: 21px;
}

.fs24 {
	font-size: 24px;
}

.fs32 {
	font-size: 32px;
}

.blog-icon {
	width: 50rpx;
	height: 50rpx;
}

/* 在全局CSS里引用: */
/* 滚动条宽度 */
::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}

/* 滚动条的滑块 */
::-webkit-scrollbar-thumb {
	background-color: $divideText;
	border-radius: 2px;
}